{% extends "base.html" %}
{% load static %}
{% load custom_tags %}

{% block content %}
	<div class="page-wrapper">

		<!-- Preloader -->
		{% include "loader.html" %}
		<!-- Preloader End -->

		<!-- Main Header-->
		{% include "header2.html" %}
		<!--End Main Header -->


		<!--Menu Backdrop-->
		<div class="menu-backdrop"></div>

		<!-- Hidden Navigation Bar -->
		<div class="hidden-bar">
			<!-- Hidden Bar Wrapper -->
			<div class="hidden-bar-wrapper">
				<div class="hidden-bar-closer"><span class="icon"><svg class="icon-close" role="presentation"
							viewBox="0 0 16 14">
							<path d="M15 0L1 14m14 0L1 0" stroke="currentColor" fill="none" fill-rule="evenodd"></path>
						</svg></span></div>
				<div class="nav-logo-box">
					<!-- logo will be copied here ! -->
				</div>
				<!-- .Side-menu -->
				<nav class="side-menu">
					<!-- main-menu will be copied here! -->
				</nav><!-- .side-menu -->

				<div class="links-box clearfix">
					<div class="clearfix">
						<div class="link"><a href="contact.html" class="theme-btn btn-style-one"><span>Login /
									Signup</span></a></div>
					</div>
				</div>

			</div><!-- / Hidden Bar Wrapper -->
		</div>
		<!-- / Hidden Bar -->

		<!-- Banner Section -->
		<div class="tour-single-banner">
			<div class="image-layer" style="background-image: url(/media/{{ tour.image }});">
			</div>
			<div class="auto-container">
				<div class="content-box">
					<div class="content clearfix">
						<div class="t-type">
							<div class="icon" style="width: 72px; height: 72px;"><img src="/media/{{ tour.category.background_image }}" alt="">
							<span class="{{ tour.category.icon_class }}" style="line-height: 72px; text-align: center; font-size: 32px; width: 100%"></span>
							</div>
							Tour Type <br><strong>{{ tour.category.name }}</strong>
						</div>
						{% comment %} <div class="links">
							<ul class="clearfix">
								<li><a href="#">Gallery <i class="far fa-images"></i></a></li>
								<li><a href="#">Video <i class="far fa-video-camera"></i></a></li>
							</ul>
						</div> {% endcomment %}
					</div>
				</div>
			</div>
		</div>
		<!--End Banner Section -->

		<!--Default Single Container-->
		<div class="dsp-container tour-single">
			<div class="auto-container">
				<div class="row clearfix">

					<!--Content Side-->
					<div class="content-side col-xl-8 col-lg-12 col-md-12 col-sm-12">
						<div class="content-inner">

							<div class="sp-header">
								<div class="loc-rat clearfix">
									<div class="location">{{ tour.destination.city }}</div>
									<div class="rating"><a href="#" class="theme-btn"><i class="fa-solid fa-star"></i>
											<strong>4.8</strong>   <span class="count">4233 Reviews</span></a></div>
									<div class="add-fav"><a href="#"><i class="far fa-heart"></i> Add to Wishlist</a>
									</div>
								</div>
								<h1>{{ tour.name }}</h1>
								<div class="info clearfix">
									<div class="duration"><i class="fa-solid fa-clock"></i> {{ tour.duration }} Days {{ tour.duration|add:"1" }} Nights</div>
									<div class="persons"><i class="fa-solid fa-user"></i> {{ tour.max_participants }}</div>
								</div>
							</div>

							<div class="upper-content">
								<div class="text-content tour-description">
									<h3>Tour Details</h3>
									{{ tour.description|safe }}
								</div>
								<div class="basic-info">
									<div class="i-block clearfix">
										<h5>Basic Information</h5>
									</div>
									<div class="i-block clearfix">
										<div class="i-title">Destination</div>
										<div class="i-content">{{ tour.destination.city }}</div>
									</div>
									<div class="i-block clearfix">
										<div class="i-title">Departure</div>
										<div class="i-content">{{ tour.info.departure }}</div>
									</div>
									<div class="i-block clearfix">
										<div class="i-title">Departure Time</div>
										<div class="i-content">{{ tour.info.departure_time }}</div>
									</div>
									<div class="i-block clearfix">
										<div class="i-title">Return Time</div>
										<div class="i-content">{{ tour.info.return_time }}</div>
									</div>
									<div class="i-block clearfix">
										<div class="i-title">Language</div>
										<div class="i-content">{{ tour.destination.info.languages }}</div>
									</div>
									<div class="i-block clearfix">
										<div class="i-title">Included</div>
										<div class="i-content list-two-parent">
											{{ tour.info.inclusions|safe }}
										</div>
									</div>
									<div class="i-block clearfix">
										<div class="i-title">Not Included</div>
										<div class="i-content list-three-parent">
											{{ tour.info.exclusions|safe }}
										</div>
									</div>
								</div>
							</div>

							<div class="t-plans">
								<h3>Tour Plans</h3>
								<ul class="accordion-box tp-accordion clearfix">
									<!--Block-->
									{% for plan in tour.plans.all %}
									<li class="accordion block {% if plan.day == 1 %}active-block{% endif %}">
										<div class="acc-btn {% if plan.day == 1 %}active{% endif %}"><span class="d-count">Day {{ plan.day }}</span>
										{{ plan.title }}	
										<span class="arrow fa fa-angle-down"></span></div>
										<div class="acc-content current">
											<div class="content">
												<div class="trippple-text">
													{{ plan.description|safe }}
												</div>
											</div>
										</div>
									</li>
									{% endfor %}
								</ul>
							</div>

							<div class="location">
								<h3>Map</h3>
								<div class="map-box">
									<iframe
										src="{{ tour.location }}"
										allowfullscreen="" loading="lazy"
										referrerpolicy="no-referrer-when-downgrade"></iframe>

									<div class="map-icon"><img src="{% static 'assets/images/icons/map-marker-2.png' %}" alt=""></div>
								</div>
							</div>

							<div class="t-faqs">
								<h3>Frequently Asked Questions</h3>
								<ul class="accordion-box faqs-accordion clearfix">
									{% for question in tour.questions.all %}
									<!--Block-->
									<li class="accordion block {% if forloop.counter == 1 %}active-block{% endif %}">
										<div class="acc-btn {% if forloop.counter == 1 %}activities.{% endif %}">{{ question.question }}<span class="arrow fa fa-plus"></span></div>
										<div class="acc-content">
											<div class="content">
												<div class="trippple-text">
													<p>{{ question.answer }}</p>
												</div>
											</div>
										</div>
									</li>
									{% endfor %}
								</ul>
							</div>

							<div class="t-gallery">
								<h3>Media Gallery</h3>
								<div class="images">
									<ul class="clearfix">
										{% for picture in tour.pictures.all %}
										<li>
											<div class="image"><a
												href="{{ picture.image.url }}"
												class="lightbox-image" data-fancybox="SbGallery"><img
												src="{{ picture.image.url }}"
												alt=""></a>
											</div>
										</li>
										{% endfor %}
									</ul>
								</div>
							</div>

							<div class="t-reviews">
								<h3>Reviews</h3>
								<div class="rev-info">
									<div class="inner clearfix">
										<div class="row clearfix">
											<div class="rev-left col-lg-4 col-md-4 col-sm-12">
												<div class="count">4.9</div>
												<div class="level"><i class="far fa-face-smile"></i> Excellent</div>
												<div class="b-on">Based on 2100 Reviews</div>
											</div>
											<div class="rev-right col-lg-8 col-md-8 col-sm-12">
												<div class="cat">
													<div class="c-title">Service</div>
													<div class="p-bar">
														<div class="p-fill p-fill-bar" data-percent="82%"></div>
													</div>
													<div class="c-per"><span class="count-box"><span class="count-text"
																data-stop="90" data-speed="2000">0</span>%</span></div>
												</div>
												<div class="cat">
													<div class="c-title">Accomodation</div>
													<div class="p-bar">
														<div class="p-fill p-fill-bar" data-percent="80%"></div>
													</div>
													<div class="c-per"><span class="count-box"><span class="count-text"
																data-stop="80" data-speed="2000">0</span>%</span></div>
												</div>
												<div class="cat">
													<div class="c-title">Location</div>
													<div class="p-bar">
														<div class="p-fill p-fill-bar" data-percent="98%"></div>
													</div>
													<div class="c-per"><span class="count-box"><span class="count-text"
																data-stop="98" data-speed="2000">0</span>%</span></div>
												</div>
												<div class="cat">
													<div class="c-title">Price</div>
													<div class="p-bar">
														<div class="p-fill p-fill-bar" data-percent="70%"></div>
													</div>
													<div class="c-per"><span class="count-box"><span class="count-text"
																data-stop="70" data-speed="2000">0</span>%</span></div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="reviews">
									{% for review in tour.reviews.all %}
									<div class="rev-box">
										<div class="inner">
											<div class="rev-header clearfix">
												<div class="rating">
													{% for i in 5|range %}
													{% if forloop.counter <= review.rating %}
													<i class="fa-solid fa-star"></i>
													{% else %}
													<i class="fa-regular fa-star"></i>
													{% endif %}
													{% endfor %}
												</div>
											</div>
											<p class="trippple-text">{{ review.content }}</p>
											<div class="lower clearfix">
												<div class="author-info">
													<div class="image"><img
															src="{{ review.user.image.url }}"
															alt="Review {{ forloop.counter }}"></div>
													<div class="author-name">{{ review.user.get_full_name }}</div>
												</div>
											</div>
										</div>
									</div>
									{% endfor %}
									<div class="see-all"><a href="#" class="theme-btn">View All <i
												class="fa-solid fa-external-link"></i></a></div>

								</div>
							</div>

						</div>
					</div>

					<!--Sidebar Side-->
					<div class="sidebar-side col-xl-4 col-lg-8 col-md-12 col-sm-12">
						<div class="sidebar-inner">
							<!--Widget-->
							<div class="dsp-widget t-book-widget alt-margin">
								<div class="inner-box">
									<div class="t-book-header">
										<span class="st-txt">Start <br>From</span>
										<span class="amount">${{ tour.price|add:"0" }}</span>
										<span class="qty">/ Per Person</span>
									</div>
									<div class="lower-box">
										<div class="form-box site-form">
											<form method="post" action="tour-single.html">
												<div class="fields">
													<div class="form-group">
														<div class="field-label">Date</div>
														<div class="field-inner">
															<input class="datepicker" type="text" name="field-name"
																value="" placeholder="Select a date" required>
															<i class="alt-icon fa fa-calendar-alt"></i>
														</div>
													</div>
													<div class="form-group">
														<div class="field-label">Time</div>
														<div class="field-inner">
															<select name="field-name" class="custom-select">
																<option>Select a time</option>
																<option>0000 Hrs</option>
																<option>0200 Hrs</option>
																<option>0400 Hrs</option>
																<option>0600 Hrs</option>
																<option>0800 Hrs</option>
																<option>1000 Hrs</option>
																<option>1200 Hrs</option>
																<option>1400 Hrs</option>
																<option>1600 Hrs</option>
																<option>1800 Hrs</option>
																<option>2000 Hrs</option>
																<option>2200 Hrs</option>
															</select>
														</div>
													</div>
												</div>
												<h6>Tickets</h6>
												<div class="tickets">
													<div class="ticket-block clearfix">
														<div class="tick-ttl">Adults (18+ years)</div>
														<div class="tick-sel">
															<div class="quantity-box">
																<div class="item-quantity">
																	<input class="qty-spinner" type="text" value="1"
																		name="quantity">
																</div>
															</div>
														</div>
													</div>
													<div class="ticket-block clearfix">
														<div class="tick-ttl">Kids (12+ years)</div>
														<div class="tick-sel">
															<div class="quantity-box">
																<div class="item-quantity">
																	<input class="qty-spinner" type="text" value="1"
																		name="quantity">
																</div>
															</div>
														</div>
													</div>
													<div class="ticket-block clearfix">
														<div class="tick-ttl">Children (3+ years)</div>
														<div class="tick-sel">
															<div class="quantity-box">
																<div class="item-quantity">
																	<input class="qty-spinner" type="text" value="1"
																		name="quantity">
																</div>
															</div>
														</div>
													</div>
												</div>
												<h6>Additional Service</h6>
												<div class="add-ser">
													<ul>
														<li>
															<div class="cb-block"><input type="checkbox" id="cb-1">
																<label class="clearfix" for="cb-1"><span
																		class="txt">Additional Guide</span><span
																		class="amount">$50</span></label></div>
														</li>
														<li>
															<div class="cb-block"><input type="checkbox" id="cb-2">
																<label class="clearfix" for="cb-2"><span
																		class="txt">Internet</span><span
																		class="amount">$30</span></label>
															</div>
														</li>
														<li>
															<div class="cb-block"><input type="checkbox" id="cb-3">
																<label class="clearfix" for="cb-3"><span
																		class="txt">Photography</span><span
																		class="amount">$90</span></label>
															</div>
														</li>
													</ul>
												</div>
												<div class="total clearfix">
													<div class="t-ttl">Total</div>
													<div class="ttl-amt">$450</div>
												</div>
												<div class="proceed-link"><button type="button"
														class="theme-btn btn-style-two"><span>Proceed to
															Book</span></button></div>
											</form>
										</div>
									</div>
								</div>
							</div>

							<!--Widget-->
							<div class="dsp-widget get-help-widget">
								<div class="inner">
									<h6>Get Help</h6>
									<h3>Need Help to Book?</h3>
									<p class="trippple-text">Our dedicated team of travel experts is here to assist you
										every step of the
										way, ensuring a seamless and unforgettable journey.</p>
									<div class="call-to">
										<a href="tel:+9689999000"><i class="icon fa-solid fa-phone"></i> Call Us <span
												class="nmbr">+968
												9999 9000</span></a>
									</div>
								</div>
							</div>

							<!--Widget-->
							<div class="dsp-widget similar-widget">
								<div class="inner">
									<h3>You might also like</h3>
									<!--Logo-->
									<div class="posts">
										<div class="post">
											<div class="image"><a href="#"><img
														src="{% static 'assets/images/resources/thumbnails/uk-thumb.jpg' %}"
														alt="London Bridge"></a>
											</div>
											<h6><a href="#">Iconic Landmark Connecting History and Modernity</a></h6>
											<div class="price">Starts from <span class="amount">$399</span></div>
										</div>
										<div class="post">
											<div class="image"><a href="#"><img
														src="{% static 'assets/images/resources/thumbnails/maldives-thumb.jpg' %}"
														alt="Maldives"></a></div>
											<h6><a href="#">Unveiling the Serenity of Maldivian Islands</a></h6>
											<div class="price">Starts from <span class="amount">$595</span></div>
										</div>
										<div class="post">
											<div class="image"><a href="#"><img
														src="{% static 'assets/images/resources/thumbnails/finland-thumb.jpg' %}"
														alt="Helsinki"></a></div>
											<h6><a href="#">Vibrant Helsinki, A Fusion of Culture and Cuisine</a></h6>
											<div class="price">Starts from <span class="amount">$565</span></div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>

		<!--Similar Section-->
		<div class="similar-section">
			<div class="auto-container">
				<div class="title-box">
					<h2><span>Similar Tours Like This</span></h2>
				</div>
				<div class="carousel-box">
					<div class="packages-carousel">
						<!--Block-->
						<div class="package-block">
							<div class="inner-box">
								<div class="image-box">
									<div class="image"><a href="tour-single.html"><img
												src="{% static 'assets/images/resources/destinations/maldives.jpg' %}" alt=""></a>
									</div>
									<div class="b-title top-rated"><span>Top Rated</span></div>
								</div>
								<div class="lower-box">
									<div class="p-icon"><img src="{% static 'assets/images/icons/t-icon-1.png' %}" alt=""><span
											class="icon flaticon-adventure"></span></div>
									<div class="location">Maldives</div>
									<h5><a href="tour-single.html">Unveiling the Serenity of Maldivian Islands</a></h5>
									<div class="info clearfix">
										<div class="duration"><i class="fa-solid fa-clock"></i> 5 Days 6 Nights</div>
										<div class="persons"><i class="fa-solid fa-user"></i> 3</div>
									</div>
									<div class="bottom-box clearfix">
										<div class="rating"><a href="#" class="theme-btn"><i
													class="fa-solid fa-star"></i>
												<strong>4.7</strong> &ensp; <span class="count">8910 Reviews</span></a>
										</div>
										<div class="price">Start from &ensp;<span class="amount">$565</span></div>
									</div>
								</div>
							</div>
						</div>

						<!--Block-->
						<div class="package-block">
							<div class="inner-box">
								<div class="image-box">
									<div class="image"><a href="tour-single.html"><img
												src="{% static 'assets/images/resources/destinations/brazil.jpg' %}" alt=""></a>
									</div>
								</div>
								<div class="lower-box">
									<div class="p-icon"><img src="{% static 'assets/images/icons/t-icon-2.png' %}" alt=""><span
											class="icon flaticon-hiking"></span></div>
									<div class="location">Amazon</div>
									<h5><a href="tour-single.html">Amazon Expedition, Nature's Untamed Wonder</a></h5>
									<div class="info clearfix">
										<div class="duration"><i class="fa-solid fa-clock"></i> 5 Days 6 Nights</div>
										<div class="persons"><i class="fa-solid fa-user"></i> 6</div>
									</div>
									<div class="bottom-box clearfix">
										<div class="rating"><a href="#" class="theme-btn"><i
													class="fa-solid fa-star"></i>
												<strong>4.8</strong> &ensp; <span class="count">7887 Reviews</span></a>
										</div>
										<div class="price">Start from &ensp;<span class="amount">$385</span></div>
									</div>
								</div>
							</div>
						</div>

						<!--Block-->
						<div class="package-block">
							<div class="inner-box">
								<div class="image-box">
									<div class="image"><a href="tour-single.html"><img
												src="{% static 'assets/images/resources/destinations/colosseum-glory-rome.jpg' %}"
												alt=""></a>
									</div>
									<div class="b-title featured"><span>Featured</span></div>
								</div>
								<div class="lower-box">
									<div class="p-icon"><img src="{% static 'assets/images/icons/t-icon-3.png' %}" alt=""><span
											class="icon flaticon-family"></span></div>
									<div class="location">Rome</div>
									<h5><a href="tour-single.html">Roaming in Rome, A Journey through History</a></h5>
									<div class="info clearfix">
										<div class="duration"><i class="fa-solid fa-clock"></i> 3 Days 4 Nights</div>
										<div class="persons"><i class="fa-solid fa-user"></i> 20</div>
									</div>
									<div class="bottom-box clearfix">
										<div class="rating"><a href="#" class="theme-btn"><i
													class="fa-solid fa-star"></i>
												<strong>4.7</strong> &ensp; <span class="count">5998 Reviews</span></a>
										</div>
										<div class="price">Start from &ensp;<span class="amount">$895</span></div>
									</div>
								</div>
							</div>
						</div>

						<!--Block-->
						<div class="package-block">
							<div class="inner-box">
								<div class="image-box">
									<div class="image"><a href="tour-single.html"><img
												src="{% static 'assets/images/resources/destinations/oman.jpg' %}" alt=""></a>
									</div>
									<div class="b-title top-rated"><span>Top Rated</span></div>
								</div>
								<div class="lower-box">
									<div class="p-icon"><img src="{% static 'assets/images/icons/t-icon-1.png' %}" alt=""><span
											class="icon flaticon-adventure"></span></div>
									<div class="location">Muscat</div>
									<h5><a href="tour-single.html">A Spiritual Visit to the Grand Masjid in Muscat</a>
									</h5>
									<div class="info clearfix">
										<div class="duration"><i class="fa-solid fa-clock"></i> 6 Days 7 Nights</div>
										<div class="persons"><i class="fa-solid fa-user"></i> 4</div>
									</div>
									<div class="bottom-box clearfix">
										<div class="rating"><a href="#" class="theme-btn"><i
													class="fa-solid fa-star"></i>
												<strong>4.8</strong> &ensp; <span class="count">7235 Reviews</span></a>
										</div>
										<div class="price">Start from &ensp;<span class="amount">$495</span></div>
									</div>
								</div>
							</div>
						</div>

						<!--Block-->
						<div class="package-block">
							<div class="inner-box">
								<div class="image-box">
									<div class="image"><a href="tour-single.html"><img
												src="{% static 'assets/images/resources/destinations/uk.jpg' %}" alt=""></a>
									</div>
								</div>
								<div class="lower-box">
									<div class="p-icon"><img src="{% static 'assets/images/icons/t-icon-2.png' %}" alt=""><span
											class="icon flaticon-hiking"></span></div>
									<div class="location">London</div>
									<h5><a href="tour-single.html">London Unveiled Icons and Elegance</a></h5>
									<div class="info clearfix">
										<div class="duration"><i class="fa-solid fa-clock"></i> 5 Days 6 Nights</div>
										<div class="persons"><i class="fa-solid fa-user"></i> 7</div>
									</div>
									<div class="bottom-box clearfix">
										<div class="rating"><a href="#" class="theme-btn"><i
													class="fa-solid fa-star"></i>
												<strong>4.5</strong> &ensp; <span class="count">6776 Reviews</span></a>
										</div>
										<div class="price">Start from &ensp;<span class="amount">$545</span></div>
									</div>
								</div>
							</div>
						</div>

						<!--Block-->
						<div class="package-block">
							<div class="inner-box">
								<div class="image-box">
									<div class="image"><a href="tour-single.html"><img
												src="{% static 'assets/images/resources/destinations/morocco.jpg' %}" alt=""></a></div>
									<div class="b-title featured"><span>Featured</span></div>
								</div>
								<div class="lower-box">
									<div class="p-icon"><img src="{% static 'assets/images/icons/t-icon-3.png' %}" alt=""><span
											class="icon flaticon-family"></span></div>
									<div class="location">Casablanca</div>
									<h5><a href="tour-single.html">Casablanca Timeless Elegance of Morocco</a></h5>
									<div class="info clearfix">
										<div class="duration"><i class="fa-solid fa-clock"></i> 5 Days 6 Nights</div>
										<div class="persons"><i class="fa-solid fa-user"></i> 8</div>
									</div>
									<div class="bottom-box clearfix">
										<div class="rating"><a href="#" class="theme-btn"><i
													class="fa-solid fa-star"></i>
												<strong>4.8</strong> &ensp; <span class="count">8230 Reviews</span></a>
										</div>
										<div class="price">Start from &ensp;<span class="amount">$435</span></div>
									</div>
								</div>
							</div>
						</div>

						<!--Block-->
						<div class="package-block">
							<div class="inner-box">
								<div class="image-box">
									<div class="image"><a href="tour-single.html"><img
												src="{% static 'assets/images/resources/destinations/egypt.jpg' %}" alt=""></a>
									</div>
									<div class="b-title top-rated"><span>Top Rated</span></div>
								</div>
								<div class="lower-box">
									<div class="p-icon"><img src="{% static 'assets/images/icons/t-icon-1.png' %}" alt=""><span
											class="icon flaticon-adventure"></span></div>
									<div class="location">Cairo</div>
									<h5><a href="tour-single.html">Cairo's Timeless Mystique, Pyramids & Pharaohs</a>
									</h5>
									<div class="info clearfix">
										<div class="duration"><i class="fa-solid fa-clock"></i> 6 Days 7 Nights</div>
										<div class="persons"><i class="fa-solid fa-user"></i> 6</div>
									</div>
									<div class="bottom-box clearfix">
										<div class="rating"><a href="#" class="theme-btn"><i
													class="fa-solid fa-star"></i>
												<strong>4.7</strong> &ensp; <span class="count">8633 Reviews</span></a>
										</div>
										<div class="price">Start from &ensp;<span class="amount">$215</span></div>
									</div>
								</div>
							</div>
						</div>

						<!--Block-->
						<div class="package-block">
							<div class="inner-box">
								<div class="image-box">
									<div class="image"><a href="tour-single.html"><img
												src="{% static 'assets/images/resources/destinations/japan.jpg' %}" alt=""></a>
									</div>
								</div>
								<div class="lower-box">
									<div class="p-icon"><img src="{% static 'assets/images/icons/t-icon-2.png' %}" alt=""><span
											class="icon flaticon-hiking"></span></div>
									<div class="location">Tokyo</div>
									<h5><a href="tour-single.html">Tokyo Revealed, Tradition and Innovation</a></h5>
									<div class="info clearfix">
										<div class="duration"><i class="fa-solid fa-clock"></i> 4 Days 5 Nights</div>
										<div class="persons"><i class="fa-solid fa-user"></i> 16</div>
									</div>
									<div class="bottom-box clearfix">
										<div class="rating"><a href="#" class="theme-btn"><i
													class="fa-solid fa-star"></i>
												<strong>4.8</strong> &ensp; <span class="count">318 Reviews</span></a>
										</div>
										<div class="price">Start from &ensp;<span class="amount">$285</span></div>
									</div>
								</div>
							</div>
						</div>

						<!--Block-->
						<div class="package-block">
							<div class="inner-box">
								<div class="image-box">
									<div class="image"><a href="tour-single.html"><img
												src="{% static 'assets/images/resources/destinations/venice-romance-italy.jpg' %}"
												alt=""></a>
									</div>
									<div class="b-title featured"><span>Featured</span></div>
								</div>
								<div class="lower-box">
									<div class="p-icon"><img src="{% static 'assets/images/icons/t-icon-3.png' %}" alt=""><span
											class="icon flaticon-family"></span></div>
									<div class="location">Venice</div>
									<h5><a href="tour-single.html">Italy's Vince Floating Paradise Experience</a></h5>
									<div class="info clearfix">
										<div class="duration"><i class="fa-solid fa-clock"></i> 3 Days 4 Nights</div>
										<div class="persons"><i class="fa-solid fa-user"></i> 2</div>
									</div>
									<div class="bottom-box clearfix">
										<div class="rating"><a href="#" class="theme-btn"><i
													class="fa-solid fa-star"></i>
												<strong>4.7</strong> &ensp; <span class="count">6654 Reviews</span></a>
										</div>
										<div class="price">Start from &ensp;<span class="amount">$475</span></div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<!--Main Footer-->
		{% include "footer2.html" %}
	</div>
{% endblock content %}


{% block extrabody %}
{% endblock extrabody %}