{% load static %}

<footer class="main-footer">
    <div class="upper-section">
        <div class="auto-container">
            <div class="content-box">
                <div class="row clearfix">
                    <div class="footer-column col-xl-4 col-lg-3 col-md-6 col-sm-12">
                        <div class="footer-widget about-widget">
                            <div class="footer-logo">
                                <a href="index.html" title="Trippple"><img src="{% static 'assets/images/logo.png' %}" alt=""
                                        title="Trippple"></a>
                            </div>
                            <div class="footer-info">
                                <ul class="info">
                                    <li class="address">
                                        <a href="#"><i class="icon fa fa-map-marker-alt"></i> Love Street,
                                            Muscat, Oman</a>
                                    </li>
                                    <li class="phone">
                                        <a href="tel:+96899999000"><i class="icon fa-solid fa-phone"></i>+968
                                            99999000</a>
                                    </li>
                                    <li class="email">
                                        <a href="mailto:hello@trippple.com"><i class="icon fa fa-envelope"></i>
                                            hello@trippple.com</a>
                                    </li>
                                </ul>
                                <ul class="social-links clearfix">
                                    <li>
                                        <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="youtube"><i class="fab fa-youtube"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12">
                        <div class="row clearfix">
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
                                    <h4>Top Destination</h4>
                                    <div class="links">
                                        <ul>
                                            <li>
                                                <a href="#">New York</a>
                                            </li>
                                            <li>
                                                <a href="#">London</a>
                                            </li>
                                            <li>
                                                <a href="#">Rome</a>
                                            </li>
                                            <li>
                                                <a href="#">Mascot</a>
                                            </li>
                                            <li>
                                                <a href="#">Dhaka</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
                                    <h4>Useful Links</h4>
                                    <div class="links">
                                        <ul>
                                            <li>
                                                <a href="#">About Us</a>
                                            </li>
                                            <li>
                                                <a href="#">Company Profile</a>
                                            </li>
                                            <li>
                                                <a href="#">Team Members</a>
                                            </li>
                                            <li>
                                                <a href="#">Support</a>
                                            </li>
                                            <li>
                                                <a href="#">Career</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="footer-column col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="footer-widget gallery-widget">
                            <h4>Featured Tours</h4>
                            <!--Logo-->
                            <div class="gallery">
                                <div class="gallery-item">
                                    <div class="image">
                                        <a href="#"><img src="{% static 'assets/images/resources/thumbnails/oman-thumb.jpg' %}"
                                                alt="Oman"></a>
                                    </div>
                                    <h6><a href="#">Adventure in Oman's Rimal Bani Wahiba</a></h6>
                                    <div class="price">Starts from <span class="amount">$399</span></div>
                                </div>
                                <div class="gallery-item">
                                    <div class="image">
                                        <a href="#"><img
                                                src="{% static 'assets/images/resources/thumbnails/maldives-thumb.jpg' %}"
                                                alt=""></a>
                                    </div>
                                    <h6><a href="#">Unveiling the Serenity of the Maldives</a></h6>
                                    <div class="price">Starts from <span class="amount">$459</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="f-bottom">
        <div class="auto-container">
            <div class="inner clearfix">
                <div class="copyright">All rights researved <strong>Trippple</strong> &copy; 2024</div>
                <div class="bottom-links">
                    <ul class="clearfix">
                        <li><a href="#">Terms & Conditions</a></li>
                        <li> <a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>